<h1>新規記事の作成</h1>
<%= form_for(@articles) do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :content %>
<div class="new-article-form">
  <%= f.text_area :content %>
<.div.
<%= f.submit %>
<% end %>