<div class="control-container">
    <div class="prof-img">
        <%= image_tag(asset_path('prof.png'), :size => '180x180') %>
    </div>
    <div class="profile">
        <p>coder name: <strong>mamutaloh</strong></p>
        <% if @user.github_link.nil? == false %>
          <%= link_to image_tag('github-logo.png', :size => '40x40'), 'https://github.com/' + @user.github_link %>
        <% end %>
        <% if @user.qiita_link.nil? == false %>
          <%= link_to image_tag('qiita-logo.png', :size => '40x40'), 'https://qiita.com/' + @user.qiita_link %>
        <% end %>
        <% if @project.nil? == false %>
        <p>Project name: <strong><%= @project.name %></strong></p>
        プロジェクトの切り替え
        <%= form_tag('/project/update', method: :post) do %>
            <%= select_tag(:switch, options_for_select(array_of_project_name(@user.projects.all))) %>
            <%= submit_tag "変更" %>
        <% end %>
        <% else %>
        プロジェクトがありません
        <% end %>
        <br>
        <%= link_to("新規プロジェクトを作成する", new_project_path) %>
    </div>
</div>