<center>
<h2>Posting!</h2>
<%= form_for(Post.new) do |f| %>
  <div class="post-container">
    <%= f.text_area :content %>
    <div class="submits">
      <div>
        <input class="button_expression" type="image" src=<%= asset_path 'normal.png' %> name="normal">
        <p>Normal</p>
      </div>
      <div>
        <input class="button_expression" type="image" src=<%= asset_path 'happy.png' %> name="happy">
        <p>Happy!</p>
      </div>
      <div>
        <input class="button_expression" type="image" src=<%= asset_path 'angry.png' %> name="angry">
        <p>Angry</p>
      </div>
      <div>
        <input class="button_expression" type="image" src=<%= asset_path 'surprised.png' %> name="surprised">
        <p>Wow!</p>
      </div>
      <div>
        <input class="button_expression" type="image" src=<%= asset_path 'confused.png' %> name="confused">
        <p>Trouble...</p>
      </div>
    </div>
  </div>
<% end %>
</center>