<center>
<h1>Proceedings</h1>
<%= link_to("記事の作成", new_article_path) %>
<br>
<% if @articles.nil? == false %>
  <% @articles.each do |a| %>
    <div class="article-title">
      <strong><%= link_to(a.title, article_path(a.id)) %></strong>
    </div>
    <div class="article-content">
      <%= safe_join(article_subset(a.content, 3).split("\n"),tag(:br)) %>
    </div>
    <div class="article-edit">
      <%= link_to("編集", edit_article_path(a.id)) %>
      <%= link_to("削除", article_path(a.id), :method => :delete) %>
    </div>
    <hr>
  <% end %>
  <%= paginate(@articles) %>
<% end %>
</center>