<center>
  <header>
    <h1>Think Tank Case</h1>
  </header>
</center>
<div class="container">
  <div class="main-panel">
    <%= image_tag 'main.png', :size =>'160x180'%>
    corder name: mamutaloh
    <%= link_to("新規プロジェクトを作成する", new_project_path) %>
  </div>

  <div class="main-panel">
    <center>
      <h2>Posting!</h2>
      <%= form_for(Post.new) do |f| %>
        <%= f.text_area :content %>
        <br>
        <input class="button_expression" type="image" src=<%= asset_path 'normal.png' %> name="normal">
        <input class="button_expression" type="image" src=<%= asset_path 'happy.png' %> name="happy">
        <input class="button_expression" type="image" src=<%= asset_path 'angry.png' %> name="angry">
        <input class="button_expression" type="image" src=<%= asset_path 'surprised.png' %> name="surprised">
        <input class="button_expression" type="image" src=<%= asset_path 'confused.png' %> name="confused">
      <% end %>
    </center>
  </div>

  <div class="main-panel">
    <center>
    <h1>Proceed Dialy</h1>
    Under Construction<br>
    <%= link_to("記事の作成", new_article_path) %>
    <br>
    <% @articles.each do |a| %>
      <div class="article-title">
      <strong><%= link_to(a.title, article_path(a.id)) %></strong>
      </div>
      <div class="article-edit">
      <%= link_to("編集", edit_article_path(a.id)) %>
      </div>
      <hr>
    <% end %>
    </center>
  </div>

  <div class="post_list">
  <center>
    <h1>Thinks</h1>
  </center>
    <div class="think-list">
      <% @posts.each do |p| %>
        <div>
        <%= image_tag(asset_path(decode_expresssion(p.expression)), :size => '80x80') %>
        </div>
        <div class="think-content">
        <%= safe_join(p.content.split("\n"),tag(:br)) %>
        </div>
      <% end %>
    </div>
  </div>
</div>