<div class="container">
  <div class="main-panel">
    <%= image_tag 'main.png', :size =>'130x145'%>
    coder name: <strong>mamutaloh</strong>
    <br>
    <%= link_to("新規プロジェクトを作成する", new_project_path) %>
  </div>

  <div class="main-panel">
    <%= render('posting_form') %>
  </div>

  <div class="main-panel">
    <%= render('proceedings') %>
  </div>
  
  <div class="post_list">
    <%= render('thinks') %>
  </div>
</div>