<center>
  <header>
    <h1>Think Tank Case</h1>
  </header>
</center>
<div class="container">
  <div class="main-panel">
    <%= image_tag 'main.png', :size =>'160x180'%>
    
  </div>

  <div class="main-panel">
    <center>
      <h2>Posting!</h2>
      <%= form_for(Post.new) do |f| %>
        <%= f.text_field :content %>
        <br>
        <input class="button_expression" type="image" src=<%= asset_path 'normal.png' %> name="normal">
        <input class="button_expression" type="image" src=<%= asset_path 'happy.png' %> name="happy">
        <input class="button_expression" type="image" src=<%= asset_path 'angry.png' %> name="angry">
        <input class="button_expression" type="image" src=<%= asset_path 'surprised.png' %> name="surprised">
        <input class="button_expression" type="image" src=<%= asset_path 'confused.png' %> name="confused">
      <% end %>
    </center>
  </div>

  <div class="main-panel">
    <center>
    <h1>Proceed Dialy</h1>
    Under Construction
    </center>
  </div>

  <div class="post_list">
  <center>
    <h1>Thinks</h1>
  </center>
    <% @posts.each do |p| %>
    <%= image_tag(asset_path(decode_expresssion(p.expression)), :size => '80x80') %>
    <%= p.content %>
    <hr>
    <% end %>
  </div>
</div>